body {
   background: url('img/bg-desktop.jpg');
   font-family:bai jamjuree;
}

footer{ 
    background-color:  rgba(255, 255, 255, 0.823);
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; 
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
#container{
    display:flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: blue;
    height: 20rem;
    flex-grow: 1;
    flex-basis:calc(33% - 6rem);

}

.cartao__conteudo{
    text-align: center;
    background-color: rgb(95, 134, 160);
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao__conteudo h3 {
    background-color: rgb(82, 109, 109);
    text-align:left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
   .cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
   }