body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

footer{ 
    background-color:  rgba(248, 248, 205, 0.823);
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; 
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
#container{
    display:flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: blue;
    height: 20rem;
    flex-grow: 1;
    flex-basis:calc(33% - 6rem);

}

.cartao__conteudo{
    text-align: center;
    background-color: rgb(95, 134, 160);
    height: 100%;
}
.cartao__conteudo h3 {
    background-color: darkslategray;
    text-align:left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    font-size: 1vw;
}