body {
    background-color: black;
    color: white;
    }

footer{ 
    background-color:  rgba(248, 248, 205, 0.823);
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; 
    font-size: 0.9rem;